.sign{
    width: 100%;
    height: 80vh;
    background-color: #fce3fe;
    padding-top: 100px;
}
.sign_container{
    width: 580px;
    height: 600px;
    background-color: white;
    margin: auto;
    padding: 40px 60px;
}
.sign_container h1{
    margin: 20px 0;
}
.sign_fields{
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
}
.sign_fields input{
    height: 72px;
    width: 100%;
    border: 1px solid #c9c9c9;
    padding-left: 20px;
    outline: none;
    color: #5c5c5c;
    font-size: 18px;
}
.sign_container button{
    height: 72px;
    width: 580px;
    color: white;
    background-color: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
}
.sign_login{
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}
.sign_login span{
    color: #ff4141;
    font-weight: 600;
}
.sign_agree{
    display: flex;
    align-items: center;
    margin-top:25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}