.related_products{
    height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.related_products h1{
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.related_products hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}
.related_products__item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
}